--- 

### DSGA1007

--- 

### HW04 

### Due Date: Thursday 2021-11-04, 8PM


#### Student Name: 

#### Student NetID:

### Problem 01 (30 points)


1.1 (5 points) Create a pandas Series object with with the values given by the twelve months: "January", "February", ..., "December". 

1.2 (5 points) What are the indexes for this object?


1.3 (10 points) Create a pandas Series object with with the values given by the twelve months: "January", "February", ..., "December", and with the indexes given by the first twelve natural numbers: 1, 2, ..., 12. 


1.3 (10 points) Create a pandas Series object with with the values given by the twelve months: "January", "February", ..., "December", and with the indexes given by the first capital letters of the English alphabet: 'A', 'B', ..., 'L'

### Solution 01 (30 points)

### Problem 02 (30 points)

2.1.1 (10 points) Create a pandas dataframe with the indexes $0, 1, \dots, 9$ and column labels "col0", "col1", ..., "col9". Each value of the dateframe with the index $i$ and with the column "colj" should be assigned a random value from the uniform distribution on $[0, 1]$. Hint: You can use: https://numpy.org/doc/stable/reference/random/generated/numpy.random.rand.html 


2.1.2 (5 points) Filter the dataframe from 2.1.1 in order to remove all rows for which the corresponding value in the column "col7" is smaller than 0.2 and bigger than 0.8

2.2.1 (10 points) Create a pandas dataframe with the indexes $0, 1, \dots, 9$ and column labels "col0", "col1", ..., "col9". Each value of the dateframe with the index $i$ and with the column "colj" should be assigned the value $50 \cdot i + j$. 

2.2.2 (5 points) Filter the dataframe from 2.2.1 in order to remove all rows for which the corresponding value in the column "col7" is smaller than 100 and bigger than 350

### Solution 02 (30 points)

### Problem 03 (40 points)

In this problem we examine the provided data set "IMDB-Movie-Data.csv", which contains the following columns that describe a list of movies: 
    
['Title', Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore'].

To read the given data set into a dataframe with the index equal to a title of a movie title, you can use: 




```df_movies = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")```


But since we want to drop all duplicated rows, you can use the following to read the data:


```df_movies = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title").drop_duplicates()```


Also, in order to get an idea about the content of the data set, you can run:

```df_movies``` 



3.1 (10 points) Print the number of rows in such obtained dataset

3.2 (10 points) Print the number of rows for which the column "Metascore" is ` NA/null` (i.e. not defined).

3.3 (10 points) Print the ratio of the two: what is the fraction of missing values for the column "Metascore"

3.4 (10 points) Print the min, mean, max, median for the column "Metascore"

### Solution 03 (40 points)